@charset "utf-8";
/* CSS Document */

.mainContainer {
    border: 2px solid lightpink;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    min-height: 520px;
   /* background-color: #edffe5;*/
}

.button.button-middle{
    padding-left: 30px;
    padding-right: 30px;
    background-color: dodgerblue;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 14px;
    color: whitesmoke;
}

.button.button-middle:hover {
    background-color: #6699FF;
}

.albumPanelDiv{
    float:left;
    width: 160px;
    height: 180px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid silver;
    background-color: white;
}

.backgroundimg{
    width: 150px;
    height: 150px;
    margin: 5px;
    border: none;
}

.albumPanelDiv span{
    padding-left: 50px;
    font-size: 10px;
    color: #6AC5FF;
}

.block-title-cpt{
    color: #007EFF;
    background-color: lavender;
    margin: 0 0 0px 0;
}

.albumListDiv{
    padding-top: 10px;
    height: 100%;
    overflow:hidden;!important;
    min-height: 500px;
    background-color: #edffe5;
}

.add-new-sign-cpt{
    height: 100%;
    overflow:hidden;!important;
    background-color: #edffe5;
}

