<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>新建通知</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <link rel="stylesheet" href="/xiaobao/css/jquery.tree-multiselect.min.css"/>
    <link rel="stylesheet" href="/xiaobao/css/createSMSNotice.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/jquery.tree-multiselect.min.js"></script>
    <script src="/xiaobao/js/createSMSNotice.js"></script>
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="backToListbreadLink">短信通知</a></li>
                <li><a href="#">新建通知</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                新建通知
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，新建通知成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-info" id="backToListBtn" style="display: none;">
                    返回
                </button>

                <button type="button" class="btn btn-success" id="createAgainBtn" style="display: none;">
                    再新建一个通知
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">新建通知失败！
                <div style="height: 50px;"></div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv1">
                <!--<div class="form-group">

                    <label for="school">
                        通知校区
                    </label>
                    <select name="school" class="form-control" id="school">
                        <option th:each=" school : ${schoolList}" th:value="${school.school_name}" th:text="${school.school_name}"></option>
                    </select>
                    <div class="check_tips"></div>
                </div>-->
                <form role="form" id="myform1">
                    <div>
                        <input type="checkbox" name="sendToAll" value="全员送信" class="sendToAll"/><label class="sendToAllText">全员送信</label>
                    </div>
                    <div id="authorityBody">
                        <select id="authorifyselect" multiple="multiple">
                            <option th:each="student : ${studentList}" th:value="${student.phone}" th:text="${student.name}" data-section="未报名"></option>
                        </select>
                    </div>


                </form>

            </div>

        </div>
        <div class="col-md-6">

            <div id="formdiv2">
                <form role="form" id="myform2">
                    <label for="sendObjectsDiv">发送对象</label>
                    <div class="form-group">
                        <div class="sendObjectsDiv" id="sendObjectsDiv">

                        </div>
                    </div>
                    <!--<div class="form-group">

                        <label for="title">
                            标题
                        </label>
                        <input type="text" class="form-control" id="title"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="content">
                            内容
                        </label>
                        <textarea class="form-control" id="content" name="content" rows="10"  cols="120"></textarea>
                        <div class="check_tips"></div>
                    </div>-->


                </form>

            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" id="selectsmstemplatediv">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                请选择短信模板
                            </h3>
                        </div>
                        <div class="panel-body">
                            <label>
                                <input type="radio"
                                value="SMS_66480047"     name="smstemplate" />
                                <span   > 验证码${code}，您正在进行${product}身份验证，打死不要告诉别人哦！</span>
                            </label>

                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>


                    <div class="row">


                        <div class="col-md-4 text-center">
                            <div id="submitAreaDiv">
                                <div style="height: 20px;"></div>

                                <button type="button" class="btn btn-default" id="formBackBtn">返回
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button id="save" type="button" class="btn btn-success">
                                    发送
                                </button>
                                <div style="height: 80px;"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


</body>
</html>