<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>新建教材杂费</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/createJiaoCaiZaFei.js"></script>
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="backToListbreadLink">教材杂费管理</a></li>
                <li><a href="#">新建教材杂费</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                新建教材杂费
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，新建教材杂费成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-info" id="backToListBtn" style="display: none;">
                    返回
                </button>

                <button type="button" class="btn btn-success" id="createAgainBtn" style="display: none;">
                    再新建一个教材杂费
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">新建教材杂费失败！
                <div style="height: 50px;"></div>
            </div>




        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">

                        <label for="name">
                            教材杂费名称
                        </label>
                        <input type="text" class="form-control" id="name"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="keChengCategory">
                            所属课程
                        </label>

                        <select name="keChengCategory" class="form-control" id="keChengCategory">
                            <option th:each=" keChengCategory : ${keChengCategoryList}" th:value="${keChengCategory.kc_category_name}" th:text="${keChengCategory.kc_category_name}"></option>
                        </select>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="jinJia">
                            进价
                        </label>
                        <input type="text" class="form-control" id="jinJia"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="shouJia">
                            售价
                        </label>
                        <input type="text" class="form-control" id="shouJia"/>
                        <div class="check_tips"></div>
                    </div>

                </form>

            </div>

        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="save" type="button" class="btn btn-success">
                    保存
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>


    </div>
</div>


</body>
</html>