<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>新建课程</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/createShouRuDaLei.js"></script>
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="backToListbreadLink">教室管理</a></li>
                <li><a href="#">新建教室</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                新建教室
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，新建教室成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-info" id="backToListBtn" style="display: none;">
                    返回
                </button>

                <button type="button" class="btn btn-success" id="createAgainBtn" style="display: none;">
                    再新建一个教室
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">新建教室失败！
                <div style="height: 50px;"></div>
            </div>




        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">

                        <label for="name">
                            教室名称
                        </label>
                        <input type="text" class="form-control" id="name"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="school_name">
                            校区
                        </label>
                        <input type="text" class="form-control" id="school_name"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="capacity">
                            容纳人数
                        </label>
                        <input type="text" class="form-control" id="capacity"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="address">
                            地址
                        </label>
                        <input type="text" class="form-control" id="address"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="note">
                            备注
                        </label>
                        <input type="text" class="form-control" id="note"/>
                        <div class="check_tips"></div>
                    </div>


                </form>

            </div>

        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="save" type="button" class="btn btn-success">
                    保存
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>


    </div>
</div>


</body>
</html>