<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>新建学校账户</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/createSchoolAccount.js"></script>
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="backToListbreadLink">学校账户管理</a></li>
                <li><a href="#">新建学校账户</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                新建学校账户
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，新建学校账户成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-info" id="backToListBtn" style="display: none;">
                    返回
                </button>

                <button type="button" class="btn btn-success" id="createAgainBtn" style="display: none;">
                    再新建一个学校账户
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">新建学校账户失败！
                <div style="height: 50px;"></div>
            </div>




        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">

                        <label for="accountName">
                            账户名称
                        </label>
                        <input type="text" class="form-control" id="accountName"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="accountCode">
                            账户
                        </label>
                        <input type="text" class="form-control" id="accountCode"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="bank">
                            开户行
                        </label>
                        <input type="text" class="form-control" id="bank"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label style="float: left;">
                            状态
                        </label>
                        <div style="float: left;">
                            <label class="checkbox-inline">
                                <input type="radio" name="status" value="有效" checked = "checked"/>有效
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="status" value="无效"/>无效
                            </label>
                        </div>

                    </div>

                </form>

            </div>

        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="save" type="button" class="btn btn-success">
                    保存
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>


    </div>
</div>


</body>
</html>