<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/gongZiTiaoList.js"></script>
</head>
<body>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="color:white;background-color:#449d44;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认操作
                </h4>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="name"  />
                            <input type="hidden" id="id"  />
                            <input type="hidden" id="school_name"  />

                            确认删除该教室吗?
                            <div class="text-danger">数据删除后，将不可恢复！</div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button id="deleteObjectBtnInModal" type="button" class="btn btn-primary"  >
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="height: 20px;"></div>


            <button type="button" class="btn btn-success" id="createObjectBtnInList">
                新建教室
            </button>




            <div style="height: 20px;"></div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12" style="background-color: transparent;">
            <h3>教室一览表</h3>
        </div>

    </div>
    <div class="row">
        <div style="height: 10px;"></div>
        <div class="col-md-12">
            <span style="">
                教室名称:
            </span>
            <input type="text" name="classroom_name" placeholder="请输入教室名称" id="query_param_classroom_name"/>
            <button type="button" class="btn btn-success" id="searchBtn">
                查询
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 20px;"></div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead style="  background-color: rgba(113,210,113,0.36);  border-color: #71ce71;">
                    <tr>
                        <th> 教室名称</th>
                        <th> 校区</th>
                        <th> 容纳人数</th>
                        <th> 地址</th>
                        <th> 备注</th>
                        <th> 操作</th>
                    </tr>
                    </thead>
                    <tbody id="mytablebody">

                    <tr th:each="classroom : ${classroomList}">
                        <td th:text="${classroom.name}">null</td>
                        <td th:text=" ${classroom.school_name}">null</td>
                        <td th:text="${classroom.capacity}">null</td>
                        <td th:text="${classroom.address}">null</td>
                        <td th:text="${classroom.note}">null</td>

                        <td><a    class="deleteObjectLinkClass"
                               href="#"
                               th:attr="name=${classroom.name},id=${classroom.id},school_name=${classroom.school_name}" >删除</a>
                            &nbsp;&nbsp;
                            <a   href="#" class="updateObjectLinkClass"
                               th:href="@{/xiaobao/updateClassroom(id=${classroom.id},name=${classroom.name},school_name=${classroom.school_name} )}">编辑</a>
                        </td>


                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






</body>
</html>