<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/zuoPingList.js"></script>
</head>
<body>




<div class="container-fluid">

    <div class="row">
        <div class="col-md-12" style="background-color: transparent;">
            <h3>我的作品一览表</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-md-4" style="background-color: transparent;">
            <tr th:each=" userPicture : ${userPicturesList}">
                <td class="col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="http://106.14.173.136:7777/images/4.jpg"
                             alt="通用的占位符缩略图" />
                        <!--
                        <img src="http://106.14.173.136:7777/images/4.jpg" th:src="@{${userPicture.fullUrl}}"
                             alt="通用的占位符缩略图" />
                             -->
                    </a>

                </td>

            </tr>
        </div>










    </div>

</div>

</body>
</html>