<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>编辑教材杂费</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/updateJiaoCaiZaFei.js"></script>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#" id="classroomguanlibread">教材杂费管理</a></li>
                <li><a href="#">编辑教材杂费</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                编辑教材杂费
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，更新教材杂费成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-success" id="backBtn" style="display: none;">
                    返回
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">更新教材杂费失败！
                <div style="height: 50px;"></div>
            </div>


        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">

                    <div class="form-group">
                        <input type="hidden" id="jiaoCaiZaFei_id" th:value="${jiaoCaiZaFei.id}"/>
                        <label for="name">
                            教材杂费名称
                        </label>
                        <input type="text" class="form-control" id="name" th:value="${jiaoCaiZaFei.name}"
                               readonly="readonly"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="keChengCategory">
                            所属课程
                        </label>

                        <select name="keChengCategory" class="form-control" id="keChengCategory" th:value="${jiaoCaiZaFei.kecheng_category}">
                            <option value="音乐">音乐</option>
                            <option value="美术">美术</option>
                        </select>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="jinJia">
                            进价
                        </label>
                        <input type="text" class="form-control" id="jinJia" th:value="${jiaoCaiZaFei.jin_jia}"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="shouJia">
                            售价
                        </label>
                        <input type="text" class="form-control" id="shouJia" th:value="${jiaoCaiZaFei.shou_jia}"/>
                        <div class="check_tips"></div>
                    </div>
                </form>
            </div>


        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="update" type="button" class="btn btn-success">
                    更新
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>
    </div>

</div>


</body>
</html>