<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>编辑学校账户</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/updateSchoolAccount.js"></script>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#" id="classroomguanlibread">学校账户管理</a></li>
                <li><a href="#">编辑学校账户</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                编辑学校账户
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，更新学校账户成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-success" id="backBtn" style="display: none;">
                    返回
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">更新学校账户失败！
                <div style="height: 50px;"></div>
            </div>


        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">
                        <input type="hidden" id="schoolAccoun_id" th:value="${schoolAccount.id}"/>
                        <input type="hidden" id="status_DB" th:value="${schoolAccount.status}"/>
                        <label for="accountName">
                            账户名称
                        </label>
                        <input type="text" class="form-control" id="accountName" th:value="${schoolAccount.accountName}" readonly = "readonly"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="accountCode">
                            账户
                        </label>
                        <input type="text" class="form-control" id="accountCode" th:value="${schoolAccount.accountCode}"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="bank">
                            开户行
                        </label>
                        <input type="text" class="form-control" id="bank" th:value="${schoolAccount.bank}"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label style="float: left;">
                            状态
                        </label>
                        <div style="float: left;">
                            <label class="checkbox-inline">
                                <input type="radio" name="status" value="有效"/>有效
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="status" value="无效"/>无效
                            </label>
                        </div>

                    </div>

                </form>
            </div>


        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="update" type="button" class="btn btn-success">
                    更新
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>
    </div>

</div>


</body>
</html>