<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>编辑校区</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/updateKeChengCategory.js"></script>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="backToListbreadLink">课程分类管理</a></li>
                <li><a href="#">编辑课程分类</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                编辑课程分类
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，更新课程分类成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-success" id="backBtn" style="display: none;">
                    返回
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">更新课程分类失败！
                <div style="height: 50px;"></div>
            </div>



        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">
                        <input type="hidden" id="keChengCategory_id" th:value="${keChengCategory.id}"/>

                        <label for="id">
                            课程分类名称
                        </label>
                        <input type="text" class="form-control" id="id" th:value="${keChengCategory.id}"  readonly="readonly"/>
                        <div class="check_tips"></div>

                        <label for="kc_category_name">
                            课程分类名称
                        </label>
                        <input type="text" class="form-control" id="kc_category_name" th:value="${keChengCategory.kc_category_name}" />
                        <div class="check_tips"></div>
                    </div>



                </form>
            </div>


        </div>


    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="update" type="button" class="btn btn-success">
                    更新
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>
    </div>

</div>


</body>
</html>