<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>编辑校区</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no"/>

    <link rel="stylesheet" href="/xiaobao/css/bootstrap.css"/>
    <script src="/xiaobao/js/jquery-3.2.1.js"></script>
    <script src="/xiaobao/js/bootstrap.js"></script>
    <script src="/xiaobao/js/updateBanJi.js"></script>

    <script src="/xiaobao/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="/xiaobao/css/bootstrap-datetimepicker.css"/>


</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a  href="#" id="classroomguanlibread">班级管理</a></li>
                <li><a href="#">编辑班级</a></li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2 class="text-success  ">
                编辑班级
            </h2>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <div class="text-success" style="display: none;" id="successLabel">恭喜你，更新班级成功！
                <div style="height: 50px;"></div>
                <button type="button" class="btn btn-success" id="backBtn" style="display: none;">
                    返回
                </button>
                <div style="height: 50px;"></div>
            </div>
            <div class="text-danger" style="display: none;" id="failLabel">更新班级失败！
                <div style="height: 50px;"></div>
            </div>



        </div>


    </div>

    <div class="row">

        <div class="col-md-4">

            <div id="formdiv">
                <form role="form" id="myform">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" th:value="${banJi.id}"/>
                        <label for="banji_name">
                            班级名称
                        </label>
                        <input type="text" class="form-control" id="banji_name" th:value="${banJi.banji_name}"/>
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="school_name">
                            校区
                        </label>
                        <input type="text" class="form-control" id="school_name" th:value="${banJi.school_name}" />
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="kecheng_name">
                            课程名称
                        </label>
                        <input type="text" class="form-control" id="kecheng_name" th:value="${banJi.kecheng_name}" />
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="pre_recruit_cnt">
                            预招人数
                        </label>
                        <input type="text" class="form-control" id="pre_recruit_cnt" th:value="${banJi.pre_recruit_cnt}" />
                        <div class="check_tips"></div>
                    </div>
                    <div class="form-group">

                        <label for="start_ban_ji_date">
                            开班日期
                        </label>
                        <input type="text" class="form-control" id="start_ban_ji_date"   th:value="${banJi.start_ban_ji_date}?${#dates.format(banJi.start_ban_ji_date, 'yyyy-MM-dd')}" />
                        <div class="check_tips"></div>
                    </div>




                </form>

            </div>


        </div>
        <div class="col-md-4">

            <div id="formdiv2">
                <form role="form" id="myform2">
                    <div class="form-group">

                        <label for="student_consume_keshi">
                            学生每次上课消耗课时
                        </label>
                        <input type="text" class="form-control" id="student_consume_keshi" th:value="${banJi.student_consume_keshi}" />
                        <div class="check_tips"></div>
                    </div>


                    <div class="form-group">

                        <label for="teacher_consume_keshi">
                            老师每次上课消耗课时
                        </label>
                        <input type="text" class="form-control" id="teacher_consume_keshi" th:value="${banJi.teacher_consume_keshi}" />
                        <div class="check_tips"></div>
                    </div>

                    <div class="form-group">

                        <label for="teacher">
                            教师姓名
                        </label>
                        <input type="text" class="form-control" id="teacher" th:value="${banJi.teacher}" />
                        <div class="check_tips"></div>
                    </div>


                    <div class="form-group">

                        <label for="teacherSFZCode">
                            教师身份证
                        </label>
                        <input type="text" class="form-control" id="teacherSFZCode" th:value="${banJi.teacherSFZCode}" />
                        <div class="check_tips"></div>
                    </div>


                    <div class="form-group">

                        <label for="note">
                            备注
                        </label>
                        <input type="text" class="form-control" id="note" th:value="${banJi.note}" />
                        <div class="check_tips"></div>
                    </div>


                </form>

            </div>


        </div>

    </div>

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-center">
            <div id="submitAreaDiv">
                <div style="height: 20px;"></div>

                <button type="button" class="btn btn-default" id="formBackBtn">返回
                </button>
                &nbsp; &nbsp; &nbsp;
                <button id="update" type="button" class="btn btn-success">
                    更新
                </button>
                <div style="height: 80px;"></div>
            </div>
        </div>
    </div>

</div>


</body>
</html>